<form *ngIf="showAddTask" class="add-form" (ngSubmit)="onSubmit()">
  <div class="form-control">
    <label for="text">Text</label>
    <input
      [(ngModel)]="text"
      type="text"
      name="text"
      id="text"
      placeholder="Add Text..."
    />
  </div>
  <div class="form-control">
    <label for="day">Day and Time</label>
    <input
      [(ngModel)]="day"
      type="text"
      name="day"
      id="day"
      placeholder="Ad day and..."
    />
  </div>
  <div class="form-control-check">
    <label for="reminder">Set Reminder</label>
    <input
      [(ngModel)]="reminder"
      type="checkbox"
      name="reminder"
      id="reminder"
    />
  </div>
  <div class="form-control">
    <button type="submit" class="btn btn-primary btn-block">Save</button>
  </div>
</form>
